 * {
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*To control whether user can choose the text*/
    user-select: none;
 }

 body {
    font-family: "Helvetica Neue",sans-serif;
margin: 25px;
 }

 .calculator {
    background-color: black;
    width:563px;
    height: 1115px;
    padding: 20px;
    border-radius: 50px;
 }
 .top-container {
     padding: 0 20px;
     display: flex;
     justify-content: space-between;
 }
 .clock {

 }
 .value {
margin-top: 180px;
    text-align: right;
    height: 158px;
    font-size: 130px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-right: 20px;
 }
 
 .buttons-container {
    font-size: 130px;

    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);

 }

 .button {
    text-align: center;
    border-radius: 50%;
    background-color: #333;
    font-size:45px;
    height:110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /*transition need duration to do filter button(more smoothly)*/
    transition:filter 1s ;
 }
.button:active,.button:focus,.button:hover {
    /*use filter to filter buttons*/
    filter:brightness(120%)
}
 .button.function {
    color:black;
    background-color: #a5a5a5;
 }

 .button.operator {
    background-color: #f59133;
 }
 .button.number-0 {
     border-radius: 55px;
     grid-column:1/ span 2;
     justify-content: flex-start;
     padding-left: 43px;
     width: 250px;
 } 

 .bottom {
    margin-left:161.5px;
    margin-top: 55px;
    width: 200px;
    height: 5px;
    background-color: white;
    border-radius: 1px;
 }